@import 'colors.css';


* {
	border-radius: 0px;
}
/*.xfce4-panel.panel.background.horizontal {
	background-color: #1f1f1f;
}*/
/* #tasklist-13 > * > * > * {
	margin: 4px;
	padding: 0px 4px;
	border-width: 1px;
	border-color: #444444;
	border-radius: 0px;
} */
#applicationsmenu-3 > * > * {
	padding: 0px 8px 0px 8px;
}



#XfcePanelWindowWrapper {
	background-color: #1f1f1f;
}
#clock-button {
	padding: 0px 8px 0px 8px;
}

#notification-plugin-6 * {
	-gtk-icon-transform: scale(.7);
}
#power-manager-plugin-24 * {
	-gtk-icon-transform: scale(.7);
}
#actions-1 * {
	padding: 0px 12px 0px 4px;
}

/*#applicationsmenu-3 *, #launcher-6 *, #launcher-7 *, #launcher-8 *, #launcher-9 * {
	background-color: #1f1f1f;
}
#applicationsmenu-3 * {
	padding: 0px 3px 0px 3px;
}
#launcher-9 * {
	padding: 0px 3px 0px 0px;
}
#separator-11 *, #separator-12 *, #separator-13 * {
	background-color: #1f1f1f;
}*/

#windowmenu-15 > * {
	-gtk-icon-transform: scale(1.4);
	padding: 0px 20px 0px 20px;
}
#launcher-11 > * {
	opacity: 0;
	/*1940261_1*/padding: 0px 72px 0px 72px;
}
/*
 wnck-pager:selected { background-color: rgba(255,255,255,0.45); }
 wnck-pager:hover { background-color: rgba(255,255,255,0.1); }
*/

#power-manager-plugin-4 > * > * > * > * { -gtk-icon-transform: scale(.7); }
#pulseaudio-5 > * > * > * { -gtk-icon-transform: scale(.7); }
margin-right: 1390px;}
