#include "/home/bhavya/dev/dotfiles/xorg/.xcolors/shinji2"

*.foreground:	FOREGROUND
*.background:	BACKGROUND
*.cursorColor:	FOREGROUND
*.color0:	COLOR0
*.color8:	COLOR8
*.color1:	COLOR1
*.color9:	COLOR9
*.color2:	COLOR2
*.color10:	COLOR10
*.color3:	COLOR3
*.color11:	COLOR11
*.color4:	COLOR4
*.color12:	COLOR12
*.color5:	COLOR5
*.color13:	COLOR13
*.color6:	COLOR6
*.color14:	COLOR14
*.color7:	COLOR7
*.color15:	COLOR15

xterm.*.BorderWidth: 7
xterm*faceName: Fira Code
xterm*faceSize: 10
