# add

alias lt='ls --human-readable --size -1 -S --classify'
alias mnt="mount | awk -F' ' '{ printf \"%s\t%s\n\",\$1,\$3; }' | column -t | grep -e ^/dev/ | sort"
alias gh='history|grep'
alias cpv='rsync -ah --info=progress2'
alias count='find . -type f | wc -l'

alias jupyter='cd ~; python -m notebook'
alias owo='unimatrix -l k -c cyan -s 80'
alias uwu='neofetch'



# replace

alias ls='ls -lh --color=auto'
alias grep='grep --color=auto'
